@import "../variables.less";


.aboutSection {
	display: flex;
	margin: 0px 15vw;
	flex-direction: row;
	gap: 20%;
	padding: 30px;
	box-shadow: 5px 5px 10px #787878;
	border-radius: 8px;
	background-color: @orange;
	.aboutTitle {
		font: normal normal bold 48px/50px "Arial";
		text-shadow: 2px 2px 4px #616161;
		margin-top: 50px;
		margin-left: 50px;
	}
	.aboutText {
		border-left: 1px solid #a8a8a8;
		font: normal normal 500 16px/20px "Arial";
		line-height: 1.2;
		padding-left: 30px;
		text-align: justify;
	}
}
.workExperience {
	margin: 50px 15vw 0px 15vw;
	display: flex;
	flex-direction: row;
	gap: 180px;
	padding: 30px;
	box-shadow: 5px 5px 10px #787878;
	border-radius: 8px;
	background-color: @blue;
	.firstSection {
		text-align: left;
		.companyName {
			font: normal normal bold 22px/24px "Arial";
			margin-bottom: 8px;
		}
		.experiences {
			display: flex;
			flex-direction: column;
			gap: 20px;

			div > ul {
				margin: 0;
				padding-left: 20px;
			}
			.role {
				font: normal normal bold 20px/24px "Arial";
				margin: 0;
				margin-bottom: 4px;
			}
			.years {
				font: normal normal 500 18px/22px "Arial";
				padding-left: 10px;
			}
			.desc {
				font: normal normal normal 14px/18px "Arial";
				opacity: 0.8;
				text-align: justify;
				// width: 400px;
				line-height: 1.3;
			}
		}
	}
	.secondSection {
		margin-top: 50px;
		margin-right: 40px;

		.titleExperience {
			font: normal normal bold 48px/50px "Arial";
			text-shadow: 2px 2px 4px darkgrey;
		}
	}
}
.EducationSection {
	display: flex;
	margin: 50px 15vw;
	flex-direction: row;
	gap: 20%;
	padding: 30px;
	box-shadow: 5px 5px 10px #787878;
	border-radius: 8px;
	background-color: @green;
	.firstSection {
		font: normal normal bold 48px/50px "Arial";
		text-shadow: 2px 2px 4px #616161;
		margin-top: 50px;
		margin-left: 50px;
	}
	.secondSection {
		padding-left: 30px;
		text-align: justify;
	}
}

@media screen and (max-width: @mobile_width) {
	.aboutSection {
		margin: 50px 20px;
		height: fit-content;
		.aboutTitle {
			float: none;
			display: block;
			margin-bottom: 15px;
			text-align: left;
			font: normal normal bold 38px/40px "Arial";
		}
		.aboutText {
			float: none;
			border-left: none;
			font: normal normal bold 16px/18px "Arial";
			padding-left: 0px;
			width: auto;
			text-align: justify;
			line-height: 1.5;
		}
	}
}
